#canvas {
 	margin: 0;
 	padding: 0;
 }

.wrapper {
  height: 750px;
  width: 1500px;
  position: static;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: #87CEFA;
}

.wrapper-init-input {
   text-align: center;
   display: block;
   position: static;
   transform: translateY(200px);
 }

.wrapper-input-dice {
  position: absolute;
  top: 300px;
  transform: translateX(1130px);
}

.wrapper-input {
  position: static;
}

.wrapper-dice {
  text-align: center;
  display: block;
  position: absolute;
  transform: translateY(-110px);
  right: 20px;
}

 .good-board {
   height: auto;
   width: 170;
   display: none;
 }

 .bad-board {
   height: auto;
   width: auto;
   display: none;
 }

 .player-name-0 {
   width: 150px;
   display: inline;
 }

 .player-name-1, .player-name-2, .player-name-3 {
   width: 150px;
   display: none;
 }

.player-color {
  width: 100px;
  display: inline;
}

.btn-accept-player { display: inline; }


.end-turn {
  display: none;
  transform: translateX(95px);
}

.btn-roll {
  display: none;
  transform: translateX(95px);
}

.dice1 {
    position: absolute;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    display: none;
}

.dice2 {
  position: absolute;
  transform: translateX(-50%);
  height: 100px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
  display: none;
  left: 110px;
}

select {
  color: #555;
  font-size: 18px;
  font-family: 'Lato';
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
}

input {
  color: #555;
  font-size: 18px;
  font-family: 'Lato';
  padding: 3px;
  text-align: center;
  width: 180px;
  text-transform: uppercase;
}

button {
    color: #555;
    background: none;
    border: solid;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }

button:focus {
    outline: none;
}
