/*
 ######     ###    ##    ## ##     ##    ###     ######
##    ##   ## ##   ###   ## ##     ##   ## ##   ##    ##
##        ##   ##  ####  ## ##     ##  ##   ##  ##
##       ##     ## ## ## ## ##     ## ##     ##  ######
##       ######### ##  ####  ##   ##  #########       ##
##    ## ##     ## ##   ###   ## ##   ##     ## ##    ##
 ######  ##     ## ##    ##    ###    ##     ##  ######
*/

#canvas {
 	margin: 0;
 	padding: 0;
 }

/*
##      ## ########     ###    ########  ########  ######## ########   ######
##  ##  ## ##     ##   ## ##   ##     ## ##     ## ##       ##     ## ##    ##
##  ##  ## ##     ##  ##   ##  ##     ## ##     ## ##       ##     ## ##
##  ##  ## ########  ##     ## ########  ########  ######   ########   ######
##  ##  ## ##   ##   ######### ##        ##        ##       ##   ##         ##
##  ##  ## ##    ##  ##     ## ##        ##        ##       ##    ##  ##    ##
 ###  ###  ##     ## ##     ## ##        ##        ######## ##     ##  ######
*/

.wrapper {
  margin: 0;
  height: 700px;
  width: 1500px;
  position: static;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: #87CEFA;
}

.wrapper-init-input {
   text-align: center;
   display: block;
   position: static;
   transform: translateY(200px);
 }

.wrapper-input-dice {
  position: absolute;
  top: 300px;
  transform: translateX(1130px);
}

.wrapper-input {
  position: static;
}

.wrapper-dice {
  height: 100px;
  width: 210px;
  text-align: center;
  display: block;
  position: absolute;
  transform: translateY(-110px);
  left: 50px;
}

.wrapper-current-player {
  height: 100px;
  width: 210px;
  text-align: center;
  position: relative;
  transform: translateY(-680px);
  left: 1177px;
  display: none;
}

.wrapper-player-resources {
  display: none;
  position: relative;
  height: 190px;
  width: 740px;
  transform: translateY(-350px);
  left: 700px;
}

/*
########  ##     ## ######## ########  #######  ##    ##  ######
##     ## ##     ##    ##       ##    ##     ## ###   ## ##    ##
##     ## ##     ##    ##       ##    ##     ## ####  ## ##
########  ##     ##    ##       ##    ##     ## ## ## ##  ######
##     ## ##     ##    ##       ##    ##     ## ##  ####       ##
##     ## ##     ##    ##       ##    ##     ## ##   ### ##    ##
########   #######     ##       ##     #######  ##    ##  ######
*/

 .good-board {
   height: auto;
   width: 170px;
   display: none;
 }

 .bad-board {
   height: auto;
   width: 142px;
   display: none;
 }

 .btn-accept-player { display: inline; }

 .end-turn {
   display: none;
   transform: translateX(95px);
 }

 .btn-roll {
   display: none;
   transform: translateX(95px);
 }

 /*
########  ##          ###    ##    ## ######## ########   ######
##     ## ##         ## ##    ##  ##  ##       ##     ## ##    ##
##     ## ##        ##   ##    ####   ##       ##     ## ##
########  ##       ##     ##    ##    ######   ########   ######
##        ##       #########    ##    ##       ##   ##         ##
##        ##       ##     ##    ##    ##       ##    ##  ##    ##
##        ######## ##     ##    ##    ######## ##     ##  ######
 */

 .player-name-0 {
   width: 150px;
   display: inline;
 }

 .player-name-1, .player-name-2, .player-name-3 {
   width: 150px;
   display: none;
 }

.player-color {
  width: 100px;
  display: inline;
}

.player-current-title {
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
}

.player-current {
  font-family: Lato;
  font-size: 4em;
}

.player-resources-0, .player-resources-1, .player-resources-2, .player-resources-3 {
  border: solid;
  margin: 0;
  text-align: center;
  height: 190px;
  width: 175px;
  display: none;
}

.player-resources-title-0, .player-resources-title-1, .player-resources-title-2, .player-resources-title-3 {
  font-family: Lato;
  font-size: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: 400;
}

.player-0-lumber, .player-0-brick, .player-0-grain, .player-0-wool, .player-0-ore {
  font-family: Lato;
  font-size: 20px;
}
.player-1-lumber, .player-1-brick, .player-1-grain, .player-1-wool, .player-1-ore {
  font-family: Lato;
  font-size: 20px;
}
.player-2-lumber, .player-2-brick, .player-2-grain, .player-2-wool, .player-2-ore {
  font-family: Lato;
  font-size: 20px;
}
.player-3-lumber, .player-3-brick, .player-3-grain, .player-3-wool, .player-3-ore {
  font-family: Lato;
  font-size: 20px;
}
/*
########  ####  ######  ########
##     ##  ##  ##    ## ##
##     ##  ##  ##       ##
##     ##  ##  ##       ######
##     ##  ##  ##       ##
##     ##  ##  ##    ## ##
########  ####  ######  ########
*/

.dice1 {
  position: absolute;
  height: 100px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
  display: none;
}

.dice2 {
  position: absolute;
  height: 100px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
  display: none;
  left: 110px;
}


/*
##    ##  #######  ##    ##         ########  #### ##     ##
###   ## ##     ## ###   ##         ##     ##  ##  ##     ##
####  ## ##     ## ####  ##         ##     ##  ##  ##     ##
## ## ## ##     ## ## ## ## ####### ##     ##  ##  ##     ##
##  #### ##     ## ##  ####         ##     ##  ##   ##   ##
##   ### ##     ## ##   ###         ##     ##  ##    ## ##
##    ##  #######  ##    ##         ########  ####    ###
*/

p { margin: 0; }

select {
  color: #555;
  font-size: 18px;
  font-family: 'Lato';
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
}

input {
  color: #555;
  font-size: 18px;
  font-family: 'Lato';
  padding: 3px;
  text-align: center;
  width: 180px;
  text-transform: uppercase;
}

button {
    color: #555;
    background: none;
    border: solid;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: bold; }

button:focus {
    outline: none;
}
